*{
    margin: 0 auto;
}

header{
    background-color: #412567;
    width: 100%;
}
.text-white{
    color: white ;
}
.text-green{
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
   
}


.gradient {
    background: linear-gradient(to top,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient{
    background: var(--Linear, linear-gradient(to right, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .menu a{
     text-decoration: none;
        padding-left: 32px;
     font-size: 16px;
     font-weight: 500;
}
nav img {
    display: none;
}
button{
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 101px;
    background-image: url("../B13-A02-TechWave/assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.banner .image{
    position: relative;
    box-sizing: border-box;
    border: 8px solid rgb(22, 11, 65);

}
.badge {
    position: absolute;
    top: 10px;   /* adjust to move the badge vertically */
    right: 50px; /* adjust to move the badge horizontally */
    background-color: #00FF90; /* neon green */
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 20px; /* makes pill shape */
    box-shadow: 0 3px 27px 0 rgba(0,0,0,0.3);
    z-index: 3;
}
.bottom {
  width: 100%;
  position: relative;
  z-index: 1;
}
.top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px; 
  z-index: 2;
}
.banner-container {
    text-align: center;
}
.banner-container .content h2{
    font-size: 3.75rem;
    font-weight: bolder;
    margin: 0 auto;

}
.banner-container .content p{
    font-size: 1rem;
    padding-bottom: 24px;
}
.banner-container .button {
    padding: 12px 20px;
    gap:8px;
    font-size: 16px;
    font-weight: 600;
}
.about{
    background-color: #1A0B2E;
    text-align: center;
    
}
.about-info{
    max-width: 75rem;
}
.about-info h2{
    font-size: 3rem;
    font-weight: bold;
    padding-top: 3.125rem;
}
.about-info p {
    font-size: 1rem;
    line-height: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
}
.about .statistics {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    max-width: 75rem;
}
.about .statistics .amount{
    font-size: 3rem;
    font-weight: 800;
    color: #00FF88;
}
.about .statistics .name{
    font-size: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 7.5rem;
}
.choose{
    background-color: #230E3D;
    padding: 120px 200px 120px 200px;
    text-align: center;
}
.choose-info{
    max-width: 1170px;
    height: 780px;
}
.choose-title{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 40px;

}
.card-info{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    text-align: left;
}
.audio{
    grid-area: audio;
   width: 380px;
  
}
.device{
    grid-area: device;
   width: 790px;
}
.global{
    grid-area: global;
    width: 790px;
}
.interviews{
    grid-area: interviews;
    width: 790px;
}
.resources{
    grid-area: resources;
   width: 380px;
}
.choose-card{
    display: grid;

  grid-template-areas: 
  "audio device device"
  "audio global global"
  "interviews interviews resources";
  gap: 30px;
}
.card-info h3{
    font-size: 1.50rem;
    font-weight: bold;
    padding-top: 16px;
}
.card-info p {
    font-size: 1rem;
    line-height: 24px;
    padding-top: 16px;
    opacity: .6;
}
.featured{
    background-color: #1A0B2E;
    text-align: center;
    padding: 120px 200px;
    
}
.featured .episodes {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    gap: 30px;
}
.featured-card {
    width: 100%;
    max-width: 380px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    background-color: #250D44;

}
.featured-card .title {
    font-size: 24px;
    font-weight: bold;
    padding: 24px 24px 0px;
}
.featured-card .description {
    line-height: 24px;
    opacity: 0.6;
    padding: 12px 24px;
}
.featured-title , .host-title {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 40px;
}
.host-title{
    padding-top: 120px;
}
.host{
    background-color: #533C72;
    max-width: 1200px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 40px;
    gap: 24px;
}
.info{
    padding: 1rem;
}
.info .host-name{
    font-size: 2rem;
    font-weight: bold;
  padding-bottom: 1rem;
}
.info p{
    font-size: 1rem;
    opacity: 0.6;
    line-height: 24px;
    padding-bottom: 16px;
}
.info .social img {
    width: 20px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 50%;
    gap: 8px;
}

footer {
    background-image: url("../B13-A02-TechWave/assets/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:34px;
    
}
footer h1 {
    font-size: 80px ;
    font-weight: bold;
    width: 410px;
    
}
footer .social{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    height: 24px;
    gap: 40px;
}
.platform{
    display: flex;
    align-items: center;
    gap: 8px;
}
footer .social a {
    text-decoration: none;
    align-content: center;
    opacity: 0.6;
}
footer p {
    opacity: 0.6;
}
button:hover{
    transform: translateY(10px);
}
.bg-gradient:hover{
    transition: background 5s linear 2s;
    background: var(--Linear, linear-gradient(to left, rgb(63, 247, 88),rgb(214, 83, 175),rgb(42, 4, 68)));
}
h1:hover{
    transform:rotate(360deg);
    transition: transform 3s;
}

@media screen and ( max-width:576px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 20px;
    }
    nav .menu {
      display: none;

    }
    nav button {
    display: none;
  }
  nav img {
    display: block;
  }
  .about .statistics {
    grid-template-columns: repeat(2,1fr);
  }
  .choose {
    padding: 40px 20px;
    text-align: left;
  }
  .choose-info{
    height: auto;
  }
  .audio , .device ,.global , .interviews , .resources {
    width: 100%;
  }
  .choose-card {
  grid-template-areas:
  "audio"
  "device"
  "global"
  "interviews"
  "resources";
  width: 100%;
  }
 .choose-title{
    font-size: 1.5rem;
}
.card-info{
    padding: 30px;
    height: auto;
    width: 400px;
    max-width: 100%;
}
.featured{
    padding: 40px 20px;
    
}
.featured .episodes {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 16px;
}

   iframe {
    width: 100%;
  }
  .host-title{
    padding-top: 60px;
}
.host{
    flex-direction: column;
    text-align: center;
}
footer .social{
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
}
footer p {
    padding-top: 24px;
}
}
