*{
    margin: 0 auto;
}

header{
    background-color: #412567;
    width: 100%;
}
.text-white{
    color: white ;
}
.text-green{
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
   
}

.gradient {
    background: linear-gradient(to top,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient{
    background: var(--Linear, linear-gradient(to right, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .menu a{
     text-decoration: none;
        padding-left: 32px;
     font-size: 16px;
     font-weight: 500;
}

button{
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 101px;
    background-image: url("../B13-A02-TechWave/assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.banner .image{
    position: relative;
    box-sizing: border-box;
    border: 8px solid rgb(22, 11, 65);

}

.bottom {
  width: 100%;
  position: relative;
  z-index: 1;
}
.top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px; 
  z-index: 2;
}
.banner-container {
    text-align: center;
}
.banner-container .content h2{
    font-size: 3.75rem;
    font-weight: bolder;
    margin: 0 auto;

}
.banner-container .content p{
    font-size: 1rem;
    padding-bottom: 24px;
}
.banner-container .button {
    padding: 12px 20px;
    gap:8px;
    font-size: 16px;
    font-weight: 600;
}
.about{
    background-color: #1A0B2E;
    text-align: center;
    
}
.about-info{
    max-width: 75rem;
}
.about-info h2{
    font-size: 3rem;
    font-weight: bold;
    padding-top: 3.125rem;
}
.about-info p {
    font-size: 1rem;
    line-height: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
}
.about .statistics {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
}
.about .statistics .amount{
    font-size: 3rem;
    font-weight: 800;
    color: #00FF88;
}
.about .statistics .name{
    font-size: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 7.5rem;
}
.choose{
    background-color: #230E3D;
    padding: 120px 200px 120px 200px;
    text-align: center;
}
.choose-info{
    max-width: 1170px;
    height: 780px;
}
.choose-title{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 40px;

}
.card-info{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    text-align: left;
}
.audio{
    grid-area: audio;
   width: 380px;
  
}
.device{
    grid-area: device;
   width: 790px;
}
.global{
    grid-area: global;
    width: 790px;
}
.interviews{
    grid-area: interviews;
    width: 790px;
}
.resources{
    grid-area: resources;
   width: 380px;
}
.choose-card{
    display: grid;

  grid-template-areas: 
  "audio device device"
  "audio global global"
  "interviews interviews resources";
  gap: 30px;
}
.card-info h3{
    font-size: 1.50rem;
    font-weight: bold;
    padding-top: 16px;
}
.card-info p {
    font-size: 1rem;
    line-height: 24px;
    padding-top: 16px;
    opacity: .6;
}
.featured{
    background-color: #1A0B2E;
}


